.App {
  text-align: center;
}

.box {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin-top: 20px;
  margin-left: 660px;
}

.detail-box {
  background-color: lightgrey;
  width: 500px;  
  padding: 50px;
  margin-top: 20px;
  margin-left: 660px;
}


